
# PlanAhead Generated physical constraints 

NET "clk_c" LOC = B8;
NET "reset_c" LOC = H13;
NET "dataout_c[0]" LOC = J14;
NET "dataout_c[1]" LOC = J15;
NET "dataout_c[2]" LOC = K15;
NET "dataout_c[3]" LOC = K14;
NET "dataout_c[4]" LOC = E17;
NET "dataout_c[5]" LOC = P15;
NET "dataout_c[6]" LOC = F4;
NET "dataout_c[7]" LOC = R4;
