//! **************************************************************************
// Written by: Map P.28xd on Mon Dec 10 11:45:12 2012
//! **************************************************************************

SCHEMATIC START;
COMP "clk_c" LOCATE = SITE "B8" LEVEL 1;
COMP "reset_c" LOCATE = SITE "H13" LEVEL 1;
COMP "dataout_c<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "dataout_c<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "dataout_c<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "dataout_c<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "dataout_c<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "dataout_c<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "dataout_c<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "dataout_c<7>" LOCATE = SITE "R4" LEVEL 1;
SCHEMATIC END;

